/* Style for the search bar container */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    height: 40px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/* Style for the search bar itself */
.search-bar {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
}
@media (max-width: 991px) {
    .checkbox {
        visibility: hidden;
    }
}
/* Style for the search button (optional) */
.search-button {
    background-color: #630bba;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}
.search-button:hover {
	background-color: #760dde;
}
.socials {
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
}
.custom-image {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    align-items: center;
}
.page-image {
    align-items: center;
    max-width: 100vw;
    max-height: calc(100vh - 118px);
}